@import "@fontsource-variable/cormorant";
@import "@fontsource-variable/work-sans";
@import "@fontsource/rubik-one";

@import "tailwindcss";

@theme {
    --font-rubik: "Rubik One", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-cormorant: "Cormorant Variable", serif;
    --font-work-sans: "Work Sans Variable", sans-serif;

    --color-xc-azul: #3a778b;
    --color-xc-verde: #5f6b54;
    --color-xc-hueso: #e7e3da;
    --color-coral: #d45d40;
    --color-white-off: #fbfbfb;
    --color-negro: #080808;
    --color-xc-negro: #2a2a2a;
    --color-xc-gris: #8b8b8b;

    /* Configuración personalizada del container */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1160px;
    --breakpoint-2xl: 1160px; /* Tu máximo personalizado */
}
