---

---

<section class="bg-xc-negro">
    <div class="container mx-auto border-t-1 border-[#6A6A6A]">
        <div class="flex flex-col items-center justify-center py-[25px]">
            <p class="text-[#A0A0A0] font-manrope text-[14px] leading-normal font-normal">
                Desarrollado por <a href="https://indaga.me" class="font-bold">Indaga</a>
            </p>
        </div>
    </div>
</section>
