---
import { Image } from "astro:assets";
import Logo from "../assets/images/logo-xpp.png";
import LogoBk from '../assets/images/logo-bk.svg'
import IconInstagram from "../assets/images/icono_instagram.svg";
---

<header class="bg-xc-hueso">
    <div class="container mx-auto">
        <div class="flex flex-row justify-between items-center h-[130px] px-[20px] md:px-0">
            <div>
                <a href="/">
                    <Image
                        src={LogoBk}
                        alt="logo"
                        width={2170}
                        height={1200}
                        class="md:w-[190px] md:h-auto w-[120px]"
                    />
                </a>
            </div>
            <div class="flex flex-row gap-6 items-center">
                <a
                    href="#contacto"
                    class="bg-xc-azul w-[120px] h-[38px] md:w-[138px] md:h-[44px] rounded-[35px] text-white items-center flex justify-center font-manrope text-[16px] font-normal hover:bg-xc-azul/75"
                    >Contáctanos</a
                >
                <a href="https://www.instagram.com/xppcopiapoa/" target="_blank">
                    <Image
                        src={IconInstagram}
                        alt="Icono Instagram"
                        width={38}
                        height={38}
                        class="md:w-[38px] md:h-[38px] w-[32px]"
                    />
                </a>
            </div>
        </div>
    </div>
</header>
